{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="row my_prod_row_class" xmlns="http://www.w3.org/1999/html">
    <div class="mx_auto">
        <p><a href="{% url 'healthapp:allDocList' %}">Department</a>| <a href="{{doctorlist.department.get_url}}"></a>{{doctorlist.name}}</p>

    </div>
</div>

<div class="container">
    </br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div class="min-width:18rem">
            <img class="my-image" height="500" width="500" src="{{doctorlist.img.url}}" alt="{{doctorlist.name}}">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div>
            <h1 class="my_prod_title">{{doctorlist.name}}</h1>
            <p class="my_title">{{doctorlist.department}}</p>
            <p class="text-justify my_prod_text">{{doctorlist.desc}}</p>
            <p>{{doctorlist.mail}}</p>
            <p>{{doctorlist.phnno}}</p>
        </div>
    </div>
</div>
</div>

{% endblock %}