{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <img src="{% static 'images/clay-banks-e6pK_snssSY-unsplash.jpg' %}"width="400" height="600">
        </div>
        <div class="col-md-6">
            <h2>ThankYou !</h2>

            <br>
            <h4>Your booking was success </h4>
            <br>
            <br>
            <h5>Token details will be confirmed by the Doctor Soon and you will recieve a notification</h5>




        </div>
    </div>
</div>

{% endblock %}

